:root {
  --primary-red: rgb(237, 42, 42);
  --primary-bg: #078ea6;
  /* #078ea6 */
}

* {
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.hero .left,
.hero .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.hero .left {
  background: var(--primary-bg);
  font-family: cursive;
  color: aliceblue;
}

.hero .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .right .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  border-radius: 6px;
  flex-wrap: wrap;
  padding: 0.5em;
  /* box-shadow: 0px 5px 5px #333; */
}

.hero .right .form .title {
  padding: 0.5em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 0.2em;
}

.hero .right .form .title h2 {
  color: var(--primary-red);
  margin-bottom: 0.7em;
}

.hero .right .form .title h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin: 0.1em auto;
  background: var(--primary-red);
  border-radius: 3px;
}

.hero .right .form .title p {
  font-size: 1em;
  font-weight: bolder;
}

.hero .right .form .input-card {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 90%;
  padding: 0.3em;
  text-align: left;
  font-family: cursive;
}

.hero .right .form .input-card input {
  width: 97%;
  height: 2.5em;
  border-radius: 1.7px;
  border: 1px solid grey;
  padding: 0.1em 0.4em;
  font-family: cursive;
}

.hero .right .form .input-card input::placeholder {
  font-family: cursive;
}

.hero .right .form .register {
  /* border: 1px solid red; */
  width: 90%;
  font-family: cursive;
  padding: 0.5em 0;
}

a {
  color: var(--primary-red);
}

.hero .right .form button {
  width: 90%;
  font-family: monospace;
  background: transparent;
  border: 1.5px solid var(--primary-red);
  margin-top: 0.79em;
  padding: 0.7em 0;
  font-size: 1.2em;
  cursor: pointer;
  color: var(--primary-red);
  border-radius: 2px;
  transition: all 0.4s ease-out;
}

.hero .right .form button:hover {
  color: aliceblue;
  /* border: 1px solid aliceblue; */
  background: var(--primary-red);
}

.hero .right .form .forgot-password {
  width: 90%;
  text-align: center;
  padding-block: 0.7em;
  font-family: cursive;
  margin-top: 2em;
}

.hero .right .form .input-card label {
  padding-bottom: 0.5em;
}

@media screen and (max-width: 917px) {
  .hero {
    flex-direction: column;
    background: var(--primary-bg);
    /* min-height: 90vh; */
  }

  .hero .left {
    min-height: 20vh !important;
  }

  .hero .right {
    min-height: 80vh;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: #fff;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .hero .right .form {
    min-height: 70vh;
    width: 90%;
    justify-content: flex-start;
    margin-top: 5em;
  }

  .hero .right .form .input-card {
    padding-block: 1em;
    justify-content: space-around;
  }
}
